*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(Photos/background.png);
    background-size: inherit
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background-color: white;
    text-align: center;
}
.git {
    border-style: none;
}
header > div > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
padding-right: 5px;
padding-left: 5px;
border-style: solid;
border-width: 3px;
border-radius: 10px;
}

.profile {
    padding: 0;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    width: 75px;
}

.start{
    display: flex;
    align-items: left;
    justify-content: space-evenly;
}
h1 {
    color: gainsboro;
    font-size: 100px;
    text-align:  center;
    padding-top: 100px;
}
div > img {
    display: grid;
    border-radius: 100%;
    width: 400px;
    padding-top: 0px;
}
.ks {  
    color: gainsboro;
    font-size: 40px;
    text-align: center;
}

.foto {
    padding-left: 0 px;
    padding-top: 45px;
}

.AboutMe {
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    background-color: rgb(0, 0, 0);
}
.AboutMe > div > img {
    width: 200px;
    margin-top: -px;
}
.AboutMe > div > p {
    color: gainsboro;
    font-size: 25px;
    padding-top: 5px;
}

.bg-clr {
    background-color: rgb(10,10,10);
    width: auto;
    height: 360px;
}
.bg-clr > p {
    font-size: 10px;
}
.AboutMe-Info > div> p {
    font-size: 25px;
    color: gainsboro;
}

.ks2 {  
    color: gainsboro;
    font-size: 40px;
    text-align: center;
}
.MyProjects-Info > div > div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 30px;
}

.MyProjects-Info > div > div > div > a {
    text-decoration: none;
    color: gainsboro;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}
.MyProjects-Info > div > p {
    font-size: 25px;
    color: white;
}

#Project-button{
    color:  gainsboro;
    font-size: 30px;
}
.MyProjects{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
}
.ks3 {
    background-color: rgb(0, 0, 0);
    width: auto;
}
.MyProjects > div > img {
    width: 200px;
}

.Footer {
    display: flex;
    margin-top: 50px;
    background-color: white;
    width: auto;
    height: 105px;
    align-items: center;
    justify-content: space-between;
}
.Footer > div {
    display: flex;
    align-items: center;
}
.Footer > div > p {
    padding-left: 10px;
}
.Footer > div > div > a {
    display: flex;
    align-items: center;
}
.Footer > div>div > a > img {
    padding: 0px;
}
.ds
{
    width: 70px;;
}

.tg{
    width:90px;
}